<div class="card">
  <div class=" flex align-items-end justify-content-end">
    <button pButton type="button" label="Atualizar" icon="pi pi-refresh" class="p-button-raised p-button-rounded"
    (click)="loadNotesWithLoading()"></button>
  </div>

  <p-dataView #dv [value]="notes" [loading]="updated">
    <ng-template pTemplate="header">
    </ng-template>

    <!-- --------------- List --------------- -->
    <ng-template pTemplate="list" let-notes on>
      <div class="grid grid-nogutter">
        <div class="col-12" *ngFor="let item of notes; let first = first" class="col-12">

          <div class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3"
            [ngClass]="{ 'border-top-1 surface-border': !first }">
            <div class="md:w-10rem relative">
              <span class="text-xl font-semibold text-900">{{item.title }}</span>
            </div>
            <div class="flex flex-column justify-content-between md:align-items-start flex-1 gap-4">
              <div class="flex flex-column justify-content-between align-items-start gap-2">
                <div class="text-lg font-medium text-900 mt-2" [innerHTML]="reduceContent(item.content)"></div>
              </div>
              <div class="flex flex-column md:flex-row   md:justify-content-start md:align-items-start gap-2">
                <ng-container *ngFor="let tag of item.tags">

                  <p-tag severity="secondary" [value]="tag" [rounded]="true" />
                </ng-container>
              </div>
            </div>
            <div class="flex flex-column md:align-items-end gap-5">
              <div class="flex flex-row gap-2">
                <ng-container *ngIf="!isNoteActive(item)">
                  <p-button color icon="pi pi-check" [outlined]="false" severity="success" [raised]="true" [disabled]="false" (onClick)="updateStatus(item)"/>
                </ng-container>
                <ng-container *ngIf="isNoteActive(item)">
                  <p-button icon="pi pi-check" [outlined]="true" severity="secondary" [raised]="true" [disabled]="false" (onClick)="updateStatus(item)"/>
                </ng-container>
                <p-button icon="pi pi-pencil"  label=""  [raised]="true"
                (onClick)="updateNote(item.id)"/>
                <p-button icon="pi pi-times"  label=""  [raised]="true"
                (onClick)="deleteNote(item.id)" severity="danger"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
